body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  min-height: 90vh;
}

.text-color-primary {
  color: #eabc3f;
}

.text-color-primary:hover {
  color: #eabc3f;
}

.text-color-secondary {
  color: #ea9a3f;
}

.text-color-dark {
  color: #212529;
}

.background-primary {
  background-color: #eabc3f;
}

.background-secondary {
  background-color: #ea9a3f;
}

.bg-offwhite {
  background-color: #efeef1;
}

.btn-primary {
  border: none;
  background-color: #eabc3f;
  color: #fff;
}

.btn-primary:hover {
  background-color: #ea9a3f;
}

.btn-secondary {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  min-width: 15rem;
  padding: 1rem 1rem;
  border: 2px solid #eabc3f;
  background-color: #fff;
  color: #ea9a3f;
}

.btn-secondary:hover {
  background-color: #eabc3f;
  color: #fff;
}

.edit-pet-form {
  background-color: rgba(0, 0, 0, 0.075) !important;
}
.edit-pet-form:hover {
  background-color: #fff !important;
}

.cta-primary {
  cursor: pointer;
  transition: 0.1s;
  background-color: #fff;
}

.cta-primary:hover {
  color: #fff;
}

.icon-primary {
  fill: #eabc3f;
  color: #eabc3f;
  cursor: pointer;
}

.icon-primary:hover {
  fill: #ea9a3f;
  color: #ea9a3f;
}

.animal-type {
  outline: 3px solid #eabc3f;
  padding: 2rem;
  min-height: 10rem;
  min-width: 18rem;
}

.animal-type:hover {
  font-size: 2.5rem !important;
  background-color: #eabc3f;
}

.adopt-option:hover {
  background-color: #ea9a3f;
}

.navbar-link:hover {
  color: #ea9a3f;
}

.dropdown-item {
  white-space: normal !important;
}

.dropdown-item:hover {
  border-left: 2px solid #eabc3f;
  background-color: rgba(234, 188, 63, 0.075);
  padding-left: 19px !important;
  color: #eabc3f;
  font-weight: 500;
}

.carousel-item img {
  object-fit: cover;
  max-height: 500px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.slider-searchbar {
  bottom: 80%;
}

.slider-caption {
  bottom: 30%;
  width: fit-content;
  height: fit-content;
}

.slider-caption h1 {
  font-size: 5rem;
  text-shadow: 5px 5px #212529;
}

.text-animated {
  animation: Color 10s linear infinite;
  -webkit-animation: Color 10s ease-in-out infinite;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  border: none;
  background-color: #eabc3f;
  color: #212529;
  opacity: 0.75;
}

/* keyframes */

@keyframes Color {
  0% {
    color: #c9e4de;
  }

  20% {
    color: #c6def1;
  }

  40% {
    color: #faedcb;
  }

  60% {
    color: #f7d9c4;
  }

  80% {
    color: #f2c6de;
  }

  100% {
    color: #dbcdf0;
  }
}

@-moz-keyframes Color {
  0% {
    color: #c9e4de;
  }

  20% {
    color: #c6def1;
  }

  40% {
    color: #faedcb;
  }

  60% {
    color: #f7d9c4;
  }

  80% {
    color: #f2c6de;
  }

  100% {
    color: #dbcdf0;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #c9e4de;
  }

  20% {
    color: #c6def1;
  }

  40% {
    color: #faedcb;
  }

  60% {
    color: #f7d9c4;
  }

  80% {
    color: #f2c6de;
  }

  100% {
    color: #dbcdf0;
  }
}
