.animal-type {
  outline: 3px solid #eabc3f;
  padding: 2rem;
  cursor: pointer;
  min-height: 10rem;
  min-width: 18rem;
  transition: 0.1s;
  background-color: #fff;
}

.animal-type:hover {
  background-color: #eabc3f;
  color: #fff;
  font-size: 2.5rem !important;
}
