.animal-type {
  outline: 1px solid #d2d1d3;
  padding: 2rem;
  color: #eabc3f;
  cursor: pointer;
  min-height: 10rem;
  min-width: 18rem;
  transition: 0.1s;
}

.animal-type:hover {
  outline: 4px solid #eabc3f;
}

.spinner {
  width: 5rem;
  height: 5rem;
  color: #eabc3f;
}
