.carousel-item img {
  object-fit: cover;
  height: 80vh;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.slider-searchbar {
  bottom: 80%;
}

.slider-caption {
  bottom: 30%;
  width: fit-content;
  height: fit-content;
}

.slider-caption h1 {
  font-size: 5rem;
  animation: Color 15s linear infinite;
  -webkit-animation: Color 15s ease-in-out infinite;
  text-shadow: 5px 5px #333333;
}

@keyframes Color {
  0% {
    color: #c9e4de;
  }

  20% {
    color: #c6def1;
  }

  40% {
    color: #faedcb;
  }

  60% {
    color: #f7d9c4;
  }

  80% {
    color: #f2c6de;
  }

  100% {
    color: #dbcdf0;
  }
}

@-moz-keyframes Color {
  0% {
    color: #c9e4de;
  }

  20% {
    color: #c6def1;
  }

  40% {
    color: #faedcb;
  }

  60% {
    color: #f7d9c4;
  }

  80% {
    color: #f2c6de;
  }

  100% {
    color: #dbcdf0;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #c9e4de;
  }

  20% {
    color: #c6def1;
  }

  40% {
    color: #faedcb;
  }

  60% {
    color: #f7d9c4;
  }

  80% {
    color: #f2c6de;
  }

  100% {
    color: #dbcdf0;
  }
}
