.carousel-item img {
  object-fit: cover;
  height: 80vh;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.slider-searchbar {
  bottom: 80%;
}

.slider-caption {
  bottom: 30%;
  width: fit-content;
  height: fit-content;
}

.slider-caption h1 {
  font-size: 5rem;
  animation: Color 15s linear infinite;
  -webkit-animation: Color 15s ease-in-out infinite;
  text-shadow: 5px 5px #333333;
}
